<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="at.arkulpa.widget">

    <application>
        <receiver
                android:name=".VehicleWidgetProvider"
                android:label="Vehicle Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/vehicle_widget_provider" />
        </receiver>
        <receiver
                android:name=".ReachableAreaWidgetProvider"
                android:label="Reachable Area Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/reachable_area_widget_provider" />
        </receiver>
    </application>
</manifest>